<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NC_Threats_Analysis_AOI_resource</title>
    <link rel="stylesheet" href="">
    <script src=""></script>
  </head>
  <body>
    <!-- page content -->
    <h3>id</h3>
    <p>{{aoi.pk}}</p>
    <h3>Identifier</h3>
    <p id='ident'>{{aoi.identifier}}</p>
    <h3>Description</h3>
    <p>{{aoi.description}}</p>
    <h3>HUC12s</h3>
    <p>{{aoi.huc12s}}</p>
    <h3>Extent</h3>
    <p>{{aoi.x_min}}, {{aoi.y_min}}, {{aoi.x_max}}, {{aoi.y_max}}</p>
    <h3>Date Created</h3>
    <p>{{aoi.date}}</p>
  </body>
</html>